<section class="main">
	<nav class="navbar navbar-inverse navbar-fixed-top2">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand">
					<span><img alt="Brand" src="favicon.ico"></span>
          todo with angular2 & typescript
				</a>
			</div>

		</div>
	</nav>
	<header class="container">
		<input [(ngModel)]="newTodo" (keyup.enter)="add();"  type="text" placeholder="new todo.">
    <button (click)="add();" class="btn btn-default" >Add</button>
	</header>
	<section class="container">
		<ul class="list-group">
      <li *ngFor="let todo of todoService.todoList" class="list-group-item">
        {{todo.title}}
      </li>
		</ul>
	</section>
	<footer>
	</footer>
</section>